body {
	background: #000;
	color: #eee;
	font-family: Verdana;
}

.container-fluid {
	max-width: 1600px;
}

a {
	color: #eee;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}

.albums {
	text-align: center;
}

.album {
	margin-top: 20px;
	margin-bottom: 20px;
}

.album {
	display: inline-block;
	position: relative;
	box-shadow: 0px 0px 20px #fff;
	border-radius: 20px;
	line-height: 0;
}

.album .image {
	height: 200px;
	width: 300px;
	border-radius: 20px;
}

.album p {
	text-align: left;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 0 20px 20px;
	background: rgba(0,0,0,0.5);
	border-radius: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0;
	opacity: 0;
	transition-duration: 0.5s;
	transition-property: opacity;
}

.album a {
	font-weight: normal;
	font-size: 14px;
}

.album:hover p {
	opacity: 1;
}	

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	background: rgba(0,0,0,0.9);
	text-align: center;
	color: #777;
	font-size: 12px;
}

footer a {
	font-weight: normal;
	color: #aaa;
	font-size: 12px;
}
